{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <title>Document</title>
</head>
<body>
  <h1>Hello, my name is Arzen Aideen Chayil Zayed ,all nicknames i have come for myself ,they have meanings I resonate with.</h1>
 {{result}}
  <p>random pet</p>
 
  <img src={{result2}} alt="random pet" />
</body>
</html>